@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #222917;
    color: #e1e4cd;
    font-family: Alata, sans-serif;
}
h1{
    margin-top: 70px;
    font-size: 3rem;
}


.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 4px 4px #1f2622;
    background-color: antiquewhite;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.nav-menu {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-menu li {
    display: inline;
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #4d5d53;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: solid;
}

#hero-main {
    background: url("../images/pv-front.jpeg") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #1f2622;
}
.drinks{
    background: url("../images/wine-shelves.jpeg") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #1f2622;
}
/*
#hero-text {
    background-color: rgba(240, 239, 187, 0.9);
    font-weight: 600;
    color: #4e4e09;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 60px;
    overflow: hidden;
}
*/

#welcome h1, #welcome h2, h3 {
    font-weight: bolder;
    text-align: center;
    width: 100%;
    padding: 1.2em;
}

#pv-welcome {
    font-size: 1em;
    margin: 0 auto;
    padding: 0.5em;
}

#food {
    background-color: #e1e4cd;
    color: #4d5d53;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    border-top: 3px solid #000000;
    border-bottom: 1px solid #1f2622;
    }   

#food-home-img {
    max-width: 10rem;
    width: 10rem;
    padding: 20px;
    border-radius: 15%;
    float: left;
}

#drinks {
    background-color: #fff8de;
    color: #4d5d53;
    padding: 20px;
    text-align: center;
}

#books {
    background-color: #fff8de;
    color: #4d5d53;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #1f2622;
}

/* Menu  */
#food-menu-block{
    align-items: center;
}
.light-menu{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
tbody{
    width: 20rem;
}
.small-table{
    padding: 10%;
    border-top: 1px solid#e1e4cd;
    width: 100%rem;
}

#light-menu, #food-menu{
    position: relative;
    justify-self: center;
}
.food{
    width: 80%em;
}
.table-price{
    width: 5%;
    max-width: fit-content;
}
/*testing grid */
.container{
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
    padding: 20px;
    margin: 1.2rem;
    border-bottom: 1px solid #e1e4cd;
}

.item{
    padding: 5%;
    text-align: center;
}
.text-left{
    text-align: left;
    font-weight: bold;
}
.price{
    padding: 0;
    align-content: center;
}
.description{
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10%;
    font-size: smaller;
    text-align: left;
    margin-bottom: 6px;
    margin-top: -5%;
}
h1, p{
    text-align: center;
}
/* feedback */
#feedback-page{
    flex-grow: 1;
    width: 100%;
    padding: 20px 10% 0 10%;
    justify-content: center;
    align-items: center;

}
/* Feedback form*/
#feedback-form {
    border: 2px ridge #fff8de;
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 0 5px rgba(135, 135, 134, 0.4);
    max-width: 500px;
    padding: 5px;
}

.form-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-item label{
    flex:1;
    margin-right: 10px;
    text-align: left;
}
.form-item input{
    flex:2;
    padding:5px;
    border:1px solid #fff8de;
    border-radius: 5px;
    width: 100%;
    text-align: right;
}
#comments{
    width: 66%;
    border-radius: 5px;
}
#button-div{
    display: flex;
    justify-content: flex-end;
    /* width: 40px; */
    /* border-radius: 15px; */
    /* ; */
}

button{
    width: 90px;
    border-radius: 10px;
    box-shadow:  0 0 5px rgba(135, 135, 134, 0.4);
}
button:hover{
    background-color: #4d5d53;
    color: #e1e4cd;
}
#close{
    border-radius: 5%;
    background-color: #e1e4cd;
    color: #4d5d53;
    box-shadow: 0 0 5px rgba(135, 135, 134, 0.4);;
}
/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: row;

    
    /* background-color: darkkhaki; */
}

footer,ul{
    list-style-type: none;
    justify-content: space-evenly;
}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    letter-spacing: 4px;
    color: bisque;
}