@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    background-color: #222917;
    color: #e1e4cd;
    margin: 0;
    font-family: Alata, sans-serif;
}

.navbar {
    position: sticky;
    left: 0;
    top: 0;
    box-shadow: 0 4px 4px #1f2622;
    background-color: antiquewhite;
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.nav-menu {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-menu li {
    display: inline;
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #4d5d53;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: solid;
}

#hero-main {
    background: url("../images/pv-front.jpeg") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #1f2622;
}
.drinks{
    background: url("../images/wine-shelves.jpeg") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #1f2622;
}
/*
#hero-text {
    background-color: rgba(240, 239, 187, 0.9);
    font-weight: 600;
    color: #4e4e09;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 60px;
    overflow: hidden;
}
*/

#welcome h2 {
    font-weight: bolder;
    text-align: center;
    color: #e1e4cd;
    width: 100%;
}

#pv-welcome {
    font-size: 1em;
    margin: 0 auto;
    padding: 0.5em;
}

#food {
    background-color: #e1e4cd;
    color: #4d5d53;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    border-top: 3px solid #000000;
    border-bottom: 1px solid #1f2622;
    }   

#food-home-img {
    max-width: 10rem;
    width: 10rem;
    padding: 20px;
    border-radius: 15%;
    float: left;
}

#drinks {
    background-color: #fff8de;
    color: #4d5d53;
    padding: 20px;
    text-align: center;
}

#books {
    background-color: #fff8de;
    color: #4d5d53;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #1f2622;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: bisque;
}